name: SpringSearch Deploy

on:
  pull_request:
    types:
      - closed
    branches:
      - 'bump/v**'
    paths:
      - 'pom.xml'

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'

      - name: Push tag
        uses: anothrNick/github-tag-action@1.64.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRERELEASE: true
          CUSTOM_TAG: ${{ github.event.pull_request.title }}
